<<<<<<< Updated upstream
.about {
    background-color: var(--background-middle-color);
=======
.about__label {
    font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #FFA5BA;
>>>>>>> Stashed changes
}