<select class="about">
    <div class="container" >

    <label for="" class="about__lable">tradition and love</label>
    <h1 class="about__title">how it’s made?</h1>
   

<div class="about__">
  <picture class="card__picture">
                <source
                  srcset="
                    ./images/img4-mob.jpg  1x,
                    ./images/img4-mob-2x.jpg  2x
                  "
                  media="(min-width: 1200px)"
                />
                
                 <img src=""
            class=""
            alt="корова" 
            width="" 
            height="">
              </picture>

</div>
             
    <p class="about__text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo 
    </p>
    <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

Aliquam erat volutpat. Aenean accumsan.
</p>
</div>
</select>